// Define variables for your color scheme
$light-pink: #F2E9E2;
$light-black: #3C3939;
$vanners-red: #DB2647;
$vanners-blue: #080876;
$dark-yellow: #fbb03c;
$soft: #F2E9E2;

// For example:
$red: #db2647;
$blue: #080876;
$yellow: #fbb03c;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
