<div class="container-home">
  <div class="content-container">
    <div class="navbar-container">
      <h2>Vanner</h2>
      <h5>Sign in</h5>
    </div>
    <div class="main-text">
      <h1>Rent a van, travel the world</h1>
    </div>
    <div class="buttons-container">
      <a href="">Browse vans</a>
      <a href="">Upload your van</a>
    </div>
  </div>
  <div class="media-container">
    <%= image_tag "van1.jpg" %>
    <%= image_tag "van2.jpg" %>
  </div>
</div>

