.booking-cards{
  width: 100%;
  padding:0;
}

.booking-list {
  border: solid 2px #F2E9E2;
  border-radius: 8px;
  margin: 8px;
}

.booking-list:hover{
  background-color: #F2E9E2;
}

.van-photo {
  width: 200px;
  img {
    width: 100%;
    border-radius: 5%;
  }
  }

.van-info {
  padding: 35px;
  width: 500px;
}

.booking-van-card{
  align-items: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
