.btn {
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: fit-content;
  padding: 10px 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  margin-bottom: 4px;
  color: whitesmoke;
  border: none;
  margin: 8px;
  border-radius: 4px;
}

.btn-book {
  background-color: $dark-yellow;
  padding: 10px 30px;
  font-size: 25px;
}

.btn-toggle-view {
  background-color: $dark-yellow;
  padding: 5px 15px;
  font-size: 25px;
}

.btn-primary {
  color: whitesmoke;
  background-color: $dark-yellow;
  padding: 8px;
  border-radius: 8px;
  color: $light-black;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: $yellow;
    color: $gray;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    margin: 8px;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 30px;
  }
  .btn-upload {
    color: #3b3939;
    border-bottom: solid 5px $blue;
  }
  .btn-yellow {
    background-color: $yellow;
    color: whitesmoke;
  }
  .btn-red {
    background-color: $red;
    color: whitesmoke;
  }
}
