.buttons-container {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    margin: 8px;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 2.5vw;
  }
  .btn-upload {
    color: #3b3939;
    border-bottom: solid 5px $blue;
    &:hover {
      /* NEED TO WORK ON THIS! */
      background-color: $yellow;
      color: $soft;
      border-bottom: solid 5px $yellow;
    }
  }
  .btn-yellow {
    background-color: $yellow;
    color: whitesmoke;
  }
  .btn-red {
    background-color: $red;
    color: whitesmoke;
  }
  .btn-log {
    /* This class makes the sign-in/up buttons responsives */
    font-size: 1rem;
    padding: 1vw, 1vh;
    white-space: nowrap;
  }
}

.btn-book {
  background-color: $dark-yellow;
  padding: 0.5vw 1vw;
  font-size: 2vw;
}

.btn-toggle-view{
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: fit-content;
  font-size: 14px;
  background-color: $vanners-blue;
  padding: 4px 8px;
  border-radius: 4px;
  // box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  color: whitesmoke;
  align-self: flex-end;
  margin-bottom: 4px;
  &:hover {
    color: white;
  }
}

.btn-primary {
  color: whitesmoke;
  background-color: $dark-yellow;
  padding: 8px;
  border-radius: 8px;
  color: $light-black;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: $yellow;
    color: $gray;
  }
}

.btn-blue{
  background-color: $vanners-blue;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  color: $light-black;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: $yellow;
    color: $gray;
  }
}

// .btn {
//   text-decoration: none;
//   text-align: center;
//   align-self: center;
//   width: fit-content;
//   padding: 10px 40px;
//   border-radius: 4px;
//   box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
//   margin-bottom: 4px;
//   color: whitesmoke;
//   border: none;
//   margin: 8px;
//   border-radius: 4px;
//   @media only screen and (min-device-width: 100px) and (max-device-width: 768px) {
//       width: 4.5rem;
//   }
// }
