.navbar-lewagon {
  justify-content: space-between;
  background: #fffcf2;
  position: sticky;
  top: 0;
  z-index: 5;
  .avatar {
    margin-left: 10px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.nav-link {
  border-bottom: solid 4px transparent;
  &:hover {
    border-bottom: solid 4px $red;
    // text-decoration: underline $yellow 5px;
  }
}
