.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 20px;
  a:link {
    text-decoration: none;
  }
}

.van-card {
  flex: 0 0 50%;
  list-style: none;
  margin: 30px;
  border-radius: 15px;
  padding: 5px;
  width: 350px;
  color: black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  height: 450px;
  .img-index-card {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 175px;
    object-fit: cover;
    object-position: center;
  }
  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
}
.card-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
  }
  .card-top-info{
    .card-description {
      display: block;
      margin: 0;
      font-style: italic;
    }
    .card-title {
      font-weight: bold;
      height: 80px;
    }
  }

.card-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .card-price {
    font-weight: bold;
  }
}
